<div class="modal fade" id="bankModal" tabindex="-1" aria-labelledby="bankModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="bankModalLabel">Bank</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <h3 class="display-8">Payment List</h3>
    </div>
    <div class="col-md-2 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">Method</th>
                    <th class="card-title text-center">Status</th>
                    <th class="card-title text-center">TransactionId</th>
                    <th class="card-title text-center">PaymentDate</th>
                    <th class="card-title text-center">CreatedAt</th>
                    <th class="card-title text-center">UpdatedAt</th>
                    <th class="card-title text-center">Customer</th>
                    <th class="card-title text-center">Order</th>
                    <th class="card-title text-center"></th>
                </tr>
            </thead>
            <tbody class="tblPayment">
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            loadData();
        });

        function loadData() {
            $.ajax({
                url: 'https://localhost:7176/api/Payments', // Adjust the controller name as needed
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    alert("Server response: ", result.message);
                    console.log(result);

                    var html = "";
                    $.each(result.data, function (index, item) {
                        html += '<tr>';
                        html += '<td>' + item.method + '</td>';
                        html += '<td>' + item.status + '</td>';
                        html += '<td>' + item.transactionId + '</td>';
                        html += '<td>' + item.paymentDate + '</td>';
                        html += '<td>' + item.createdAt + '</td>';
                        html += '<td>' + item.updatedAt + '</td>';
                        html += '<td>' + item.customerId + '</td>';
                        html += '<td>' + item.orderId + '</td>';
                        html += '</td></td>';
                        html += '</tr>';
                    });
                    $('.tblPayment').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }

        function add() {
            $("#bankModalContent").html("");
            $("#bankModalLabel").html("Add New");

            $('#bankModal').modal('show');
        }
    </script>
}