@model KOIFARMSHOP.Data.Models.Consignment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Consignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AnimalId" class="control-label">AnimalName</label>
                <select asp-for="AnimalId" class="form-control" asp-items="ViewBag.AnimalOrigin"></select>
            </div>
            <div class="form-group">
                <label asp-for="ConsignmentType" class="control-label"></label>
                <input asp-for="ConsignmentType" class="form-control" />
                <span asp-validation-for="ConsignmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommissionRate" class="control-label"></label>
                <input asp-for="CommissionRate" class="form-control" />
                <span asp-validation-for="CommissionRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Create" asp-page="../Animals/Create" asp-controller="Animal" class="btn btn-secondary ml-2">Create Animal</a>
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
